{% load url from future %}
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %} {% endblock %} | Celery: Distributed Task Queue</title>
    <meta name="keywords" content="task queue, job queue, asynchronous, rabbitmq, amqp, redis, django, python, webhooks, queue, distributed">
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon0.png" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:regular,bold' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{{STATIC_URL}}css/master.css" type="text/css" />
    {% block extrastyles %}{% endblock %}
    <script type="text/javascript">
        var STATIC_URL = '{{STATIC_URL}}';
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/core.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-12986238-1");
        pageTracker._trackPageview();
        } catch(err) {}
    </script>
    {% block extrascripts %}{% endblock %}
</head>
<body>
    <div id="nav">
        <ul class="container">
            <li id="home"><a href="/"><img src="{{STATIC_URL}}img/logo.png" alt="Celery home"></a></li>
            {% for page in ext_flatpages %}
            <li><a href="{{ page.url }}">{{ page.menu_label }}</a></li>
            {% endfor %}
            <li><a href="{% url 'tutorials' None %}">TUTORIALS</a></li>
            <li><a href="{% url 'external_resources' %}">COMMUNITY</a></li>
            <li><a href="https://github.com/celery/celery">SOURCECODE</a></li>
        </ul>
    </div>
    {%block content-container%}
    <div id="maincontent" class="container">
        {%block content%}
        {%endblock%}
    </div>
    {%endblock%}
    
<div class="container" id="footer">
    <div id="hosting">
        <a href="http://www.rackspace.com" target="_blank" title="Cloud hosting"><img src="{{ STATIC_URL }}img/rackspace.png" /></a>
    </div>
    <div id="donate">
         <form id="paypal_donate" action="https://www.paypal.com/cgi-bin/webscr" method="post">
         <input type="hidden" name="cmd" value="_s-xclick">
         <input type="hidden" name="hosted_button_id" value="BPCLP83DFF2N2">
         </form>
         <div id="creditcards">
         <h3>Please donate</h3>
         <div>
             <div id="paypal_donate">
               <img onclick="$('#paypal_donate').submit();" src="{{STATIC_URL}}img/icon-paypal.png" alt="amex">
             </div>
             <div id="gittip_donate">
               <iframe style="border: 0; margin: 0; padding: 0;"
                       src="https://www.gittip.com/ask/widget.html"
                       width="48pt" height="22pt">
             </iframe>
             </div>
         </div>
         <p>
         </p>
        </div>
             <div id="we_welcome">
               <p>
                 We welcome any kind of contribution that will be exclusively used for improving Celery.
               </p>
             </div>
     </div>
     <div id="credits">
         <p>&copy; 2007&ndash;2011 <a href="http://twitter.com/asksol">Ask Solem</a> and <a href="http://github.com/celery/celery/blob/master/AUTHORS">contributors</a>, with <a href="http://creativecommons.org/licenses/by-nd/3.0/">some rights reserved</a>.
          | Engine by <a href="http://www.toforge.com" target="_blank">Mauro Rocco</a> | Design by <a href="http://www.helmersworks.com" target="_blank">Jan Henrik Helmers</a></p>
     </div>
</div>
</body>
</html>