{%extends "base.html" %}
{% load url from future %}
{%block title%}News{%endblock%}
<link rel="alternate" type="application/rss+xml"
  href="{% site_url %}/news/feed" title="Celery Project News">
{%block content%}
  <h1>News</h1>
  <div class="list">
  {%for news_detail in news.object_list%}
    <div class="element">
      <h2><a href="{{news_detail.permalink}}" title="{{news_detail.title|striptags|escape}}">{{news_detail.title}}</a></h2>
      <span class="meta">Posted by <b><a href="{% url 'user_profile' news_detail.creator %}">{{news_detail.creator}}</a></b> on {{news_detail.creation_date}}</span>
      <div class="text">
      {{news_detail.text|truncatewords_html:45|safe}}
        <a class="more" href="{{news_detail.permalink}}" title="Continue reading {{news_detail.title|striptags|escape}}">
          Read More >>
        </a>
      </div>
    </div>
  {% endfor %}
  </div>
  {% include "common/paginator.html" with paginator=news %}
{%endblock%}