{%extends "base.html" %}
{% load url from future %}
{%block title%}Tutorials{%endblock%}
{%block content%}
  <h1>Tutorials</h1>
  <div class="list">
  {%for tutorial_detail in tutorials.object_list%}
    <div class="element">
      <h2><a href="{{tutorial_detail.permalink}}" title="{{tutorial_detail.title|striptags|escape}}">{{tutorial_detail.title}}</a></h2>
      <span class="meta">Posted by <b><a href="{% url 'user_profile' tutorial_detail.creator %}">{{tutorial_detail.creator}}</a></b> on {{tutorial_detail.creation_date}} Language: {{tutorial_detail.language}}</span>
      <div class="text">
      {{tutorial_detail.content|truncatewords_html:45|safe}}
        <a class="more" href="{{tutorial_detail.permalink}}" title="Continue reading {{tutorial_detail.title|striptags|escape}}">
          Read More >>
        </a>
            </div>
    </div>
  {% endfor %}
  </div>
  {% include "common/paginator.html" with paginator=tutorials %}
{%endblock%}