{%extends "base.html"%}
{% load url from future %}
{%block title%}{{tutorial_detail.title}}{%endblock%}
{%block extrastyles%}
  <link href="{{STATIC_URL}}js/syntaxhighlighter/styles/shCore.css" rel="stylesheet" type="text/css" />
  <link href="{{STATIC_URL}}js/syntaxhighlighter/styles/shThemeEclipse.css" rel="stylesheet" type="text/css" />
{%endblock%}
{%block extrascripts%}
  <script type="text/javascript" src="{{STATIC_URL}}js/syntaxhighlighter/scripts/shCore.js"></script> 
  <script type="text/javascript" src="{{STATIC_URL}}js/syntaxhighlighter/scripts/shBrushPython.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/syntaxhighlighter/scripts/shBrushBash.js"></script>
{%endblock%}
{%block content%}
  <h1>{{tutorial_detail.title}}</h1>
  <div class="detail">
    <div class="meta">
      Posted by <b><a href="{% url 'user_profile' tutorial_detail.creator %}">{{tutorial_detail.creator}}</b> on {{tutorial_detail.creation_date}} Language: {{tutorial_detail.language}}
      {% include "common/share.html" %} 
    </div>
    {{tutorial_detail.content|safe}}
  </div>
  <script type="text/javascript">
     SyntaxHighlighter.all();
  </script>
{%endblock%}