{%extends "base.html"%}
{%block title%}{{ flatpage.title }}{%endblock%}
{%block extrastyles%}
	<link href="{{STATIC_URL}}js/syntaxhighlighter/styles/shCore.css" rel="stylesheet" type="text/css" />
	<link href="{{STATIC_URL}}js/syntaxhighlighter/styles/shThemeEclipse.css" rel="stylesheet" type="text/css" />
{%endblock%}
{%block extrascripts%}
	<script type="text/javascript" src="{{STATIC_URL}}js/syntaxhighlighter/scripts/shCore.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/syntaxhighlighter/scripts/shBrushBash.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/syntaxhighlighter/scripts/shBrushPython.js"></script>
{%endblock%}
{% block content %}
	<h1>{{ flatpage.title }}</h1>
	{% include "common/share.html" %}	
	{{ flatpage.content }}
	<script type="text/javascript">
     SyntaxHighlighter.all();
	</script>
{% endblock %}